body {
  background-color: rgb(211, 211, 211);
}

main {
  background-color: #fff;
  width: 800px;
  margin: 10px auto;
  border: 0.1rem solid;
}
.logo-principal {
  display: block;
  margin: 20px auto;
  width: 200px;
}
.header-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 15px;
}
.header-subtitle {
  font-size: 1rem;
  padding: 5px 10px;
  width: 100px;
  background-color: black;
  color: #fff;
}
.dash-red { 
  border: 0.8px solid rgb(139, 0, 0);
  height: 0px;
  margin: 10px 10px auto;
}
.presentation {
  background-color: rgb(211, 211, 211);
  width: 600px;
  margin: 15px auto;
  padding: 30px 15px;
}
.title-presentation {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.img-hc-logo {
  display: block;
  margin: 20px auto;
  width: 100px;
}
span {
  font-weight: bold;
}
.dash-black {
  border: 0.8px solid black;
  width: 565px;
  height: 0px;
  margin: 10px auto;
}
.para1 {
  text-align: center;
  font-style: italic;
}
.title-synopsis {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
  color: rgb(139, 0, 0);
}
p {
  margin: 10px;
}
footer {
  background-color: rgb(211, 211, 211);
  text-align: center;
  margin: 10px;
  padding-top: 25px;
  padding-bottom: 60px;
}